<header>
  <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />

</header>
<div class="user-details">
  <h1> 안녕하세요.<br />AI Developer <br /> <u>이지훈</u>입니다. </h1>
<!--  <p> {{site.user_description}} </p>-->
   <p>인공지능 기반 서비스를 개발하는 것에 그치지 않고,</p>
   <p>개발한 서비스를 최적으로 제공하기 위해 끊임없이 고민하는 개발자입니다.</p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
<!--      <i class="devicon-python-plain colored"></i>-->
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>

      <p class="explain">코드를 작성할 때, <u>"다른 이가 잘 읽을 수 있게 잘 작성되었는가?"</u>를 생각하고 작성하고자 노력합니다.<br />언어를 공부할수록 그 내용이 방대해짐을 느끼지만, 언젠가 진심으로 "언어는 도구에 불과하다."는 말에 공감하는 것이 목표입니다.</p>
    </div>
    <div class="tech">
      <h2>Framework</h2>

      <i class="devicon-svelte-plain-wordmark colored"></i>
      <i class="devicon-selenium-original colored"></i>
      <i class="devicon-fastapi-plain-wordmark"></i>
      <i class="devicon-pytorch-plain-wordmark colored"></i>
      <i class="devicon-keras-plain-wordmark colored"></i>
      <i class="devicon-tensorflow-original-wordmark colored"></i>

      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Platform</h2>

      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-pytorch-plain-wordmark colored"></i>
      <i class="devicon-keras-plain-wordmark colored"></i>
      <i class="devicon-tensorflow-original-wordmark colored"></i>

      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>tool</h2>

      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-pytorch-plain-wordmark colored"></i>
      <i class="devicon-keras-plain-wordmark colored"></i>
      <i class="devicon-tensorflow-original-wordmark colored"></i>

      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>

 <style>
   .explain{
     font-size: small;
   }
 </style>